body{
    padding: 50px;
}

.linha{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.caixa{
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    height: 170px;
    min-height: 170px;
    max-height: 170px;
}

.caixa:hover{
    transform: scale(0.95);
}

.caixa1{ 
    background-color: #e2ffb6;
    border: 1px solid #99ff00;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa1 th{
    background-color: #d8ff9d;
    border: 1px solid #baff53;
}

.caixa1 td{
    border-bottom: 1px solid #baff53;
}

.caixa1:hover{
    box-shadow: 0 0 20px rgba(153, 255, 0, 1);
}

.caixa2{ 
    background-color: #ffffac;
    border: 1px solid #ffff00;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa2 th{
    background-color: #ffff88;
    border: 1px solid #ffff45;
}

.caixa2 td{
    border-bottom: 1px solid #ffff45;
}

.caixa2:hover{
    box-shadow: 0 0 20px rgba(255, 255, 0, 1);
}

.caixa3{ 
    background-color: #ffe89c;
    border: 1px solid #ffc400;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa3 th{
    background-color: #ffe285;
    border: 1px solid #ffd23d;
}

.caixa3 td{
    border-bottom: 1px solid #ffd23d;
}

.caixa3:hover{
    box-shadow: 0 0 20px rgba(255, 196, 0, 1);
}

.caixa4{ 
    background-color: #ffd8a4;
    border: 1px solid #ff9100;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa4 th{
    background-color: #ffc579;
    border: 1px solid #ffaa3b;
}

.caixa4 td{
    border-bottom: 1px solid #ffaa3b;
}

.caixa4:hover{
    box-shadow: 0 0 20px rgba(255, 145, 0, 1);
}

.caixa5{
    background-color: #ffc6d3;
    border: 1px solid #ff003d;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa5 th{
    background-color: #ff9fb6;
    border: 1px solid #ff6c8e;
}

.caixa5 td{
    border-bottom: 1px solid #ff6c8e;
}

.caixa5:hover{
    box-shadow: 0 0 20px rgba(255, 0, 61, 1);
}

.caixa6{ 
    background-color: #bfffb2;
    border: 1px solid #2bff00;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa6 th{
    background-color: #9dff89;
    border: 1px solid #65ff46;
}

.caixa6 td{
    border-bottom: 1px solid #65ff46;
}

.caixa6:hover{
    box-shadow: 0 0 20px rgba(43, 255, 0, 1);
}

.caixa7{ 
    background-color: #f3ffb1;
    border: 1px solid #d9ff00;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa7 th{
    background-color: #ecff81;
    border: 1px solid #e2ff41;
}

.caixa7 td{
    border-bottom: 1px solid #e2ff41;
}

.caixa7:hover{
    box-shadow: 0 0 20px rgba(217, 255, 0, 1);
}

.caixa8{ 
    background-color: #fff2a9;
    border: 1px solid #ffd900;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa8 th{
    background-color: #ffeb79;
    border: 1px solid #ffe137;
}

.caixa8 td{
    border-bottom: 1px solid #ffe137;
}

.caixa8:hover{
    box-shadow: 0 0 20px rgba(255, 217, 0, 1);
}

.caixa9{ 
    background-color: #ffe5b6;
    border: 1px solid #ffa600;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa9 th{
    background-color: #ffd17a;
    border: 1px solid #ffba39;
}

.caixa9 td{
    border-bottom: 1px solid #ffba39;
}

.caixa9:hover{
    box-shadow: 0 0 20px rgba(255, 166, 0, 1);
}

.caixa10{ 
    background-color: #ffb2d6;
    border: 1px solid #ff0077;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa10 th{
    background-color: #ff80bb;
    border: 1px solid #ff3895;
}

.caixa10 td{
    border-bottom: 1px solid #ff3895;
}

.caixa10:hover{
    box-shadow: 0 0 20px rgba(255, 0, 119, 1);
}

.caixa11{ 
    background-color: #c5ffae;
    border: 1px solid rgb(72, 255, 0);
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa11 th{
    background-color: #a1ff7c;
    border: 1px solid #6cff32;
}

.caixa11 td{
    border-bottom: 1px solid #6cff32;
}

.caixa11:hover{
    box-shadow: 0 0 20px rgba(72, 255, 0, 1);
}

.caixa12{ 
    background-color: #f1ffb4;
    border: 1px solid #d0ff00;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa12 th{
    background-color: #e6ff78;
    border: 1px solid #daff35;
}

.caixa12 td{
    border-bottom: 1px solid #daff35;
}

.caixa12:hover{
    box-shadow: 0 0 20px rgba(208, 255, 0, 1);
}

.caixa13{ 
    background-color: #ffdfb5;
    border: 1px solid rgb(255, 145, 0);
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.caixa13 th{
    background-color: #ffc87f;
    border: 1px solid #ffab3d;
}

.caixa13 td{
    border-bottom: 1px solid #ffab3d;
}

.caixa13:hover{
    box-shadow: 0 0 20px rgba(255, 145, 0, 1);
}

table{
    width: 100%;
    border-radius: 12px;
    min-height: 150px;
    max-height: 150px;
    padding: 0;
}

th{
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 20px;
}

td{
    /* border-bottom: 1px solid #dddddd; */
    text-align: left;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

td:last-child{
    border-bottom: none;
}

.linha:after{
    content: "";
    display: table;
    clear: both;
}
