@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

.linha{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.caixaImplant{
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    height: 170px;
    min-height: 170px;
    max-height: 170px;
}

.caixaImplant:hover{
    transform: scale(0.95);
}

.caixaImplant1{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant1 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant1 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant1:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant1::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant1::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius:12px;
}

.caixaImplant2{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant2 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant2 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant2:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant2::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant2::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant3{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant3 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant3 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant3:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant3::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant3::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant4{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant4 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant4 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant4:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant4::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant4::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant5{
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant5 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant5 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant5:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant5::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant5::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant6{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant6 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant6 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant6:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant6::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant6::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant7{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant7 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant7 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant7:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant7::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant7::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant8{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant8 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant8 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant8:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant8::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant8::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant9{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant9 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant9 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant9:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant9::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant9::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant10{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant10 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant10 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant10:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant10::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant10::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant11{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant11 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant11 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant11:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant11::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant11::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant12{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant12 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant12 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant12:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant12::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant12::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

.caixaImplant13{ 
    background-color: #e3ffff;
    border: 1px solid #7f9fc3;
    border-radius: 12px;
    min-height: 170px;
    max-height: 170px;
    min-width: 235px;
    max-width: 235px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixaImplant13 th{
    background-color: #b1cfe1;
    border: 1px solid #98b7d2;
}

.caixaImplant13 td{
    border-bottom: 1px solid #98b7d2;
}

.caixaImplant13:hover{
    box-shadow: 0 0 20px rgba(127, 159, 195, 1);
}

.caixaImplant13::-webkit-scrollbar{
    width: 5px;
}

.caixaImplant13::-webkit-scrollbar-thumb{
    background-color: rgba(127, 159, 195, 0.5);
    border-radius: 12px;
}

table{
    width: 100%;
    border-radius: 12px;
    min-height: 150px;
    max-height: 150px;
    padding: 0;
}

th{
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 20px;
}

td{
    text-align: left;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

td:last-child{
    border-bottom: none;
}

.linha:after{
    content: "";
    display: table;
    clear: both;
}
